:root {
  --accentColor: hsla(266, 100%, 50%, 1);
  --darkerAccentColor: hsl(266.1, 100%, 30%);
  --accentColorDark: hsl(265.9, 100%, 71.4%);
  --dangerColor: hsl(335, 95.9%, 37.8%);
}

::selection {
  background-color: hsla(266.1, 100%, 39%, 0.75);
  color: white;
}

body {
  min-height: 100%;
  font-family: "Ubuntu", sans-serif;
  font-family: "Spline Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}

main {
  margin-top: 50px;
  margin-bottom: 50px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

header {
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid #dbe4eb;
}

svg {
  flex-shrink: 0;
}

a {
  color: var(--accentColor);
  text-decoration: none;
  transition: 0.3s color ease;
}

a:hover {
  color: hsl(186, 100%, 25%);
}

header > div {
  margin: auto;
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > div > div {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 10px 0px;
}
header nav {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav-btn {
  font-weight: 600;
}
.nav-btn:hover {
  color: purple;
  cursor: pointer;
}

.btn-outline {
  border: 2px solid purple;
  padding: 10px 20px;
  color: purple;
  border-radius: 5px;
  font-weight: 600;
  transition: all 0.3s ease;
}
.btn-outline:hover {
  color: white;
  background-color: purple;
}

.form-wrapper {
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f2ebff;
  border: 2px solid #f2ebff;
  border-radius: 20px;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 20px;
  width: 100%;
}
.form-picture {
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.profile-picture-placeholder {
  width: 200px;
  height: 200px;
  border: 2px dashed rgb(161, 67, 154);
  border-radius: 50%;
  object-fit: cover;
}

input[type="file"]::file-selector-button {
  background-color: var(--accentColor);
  color: white;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  font-weight: 700;
  margin-right: 20px;
}
input[type="file"]::file-selector-button:hover {
  background-color: var(--darkerAccentColor);
}
input[type="file"] {
  padding: 10px;

  background-color: #e9dbff;
  width: 100%;
}
textarea {
  width: 100%;
}
.profile-picture-text-area {
  margin-right: 20px;
}
.form-section {
  display: flex;
  align-items: space-between;
  width: 100%;
  max-width: 900px;
  margin: auto;
  margin-top: 30px;
}
.title-container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.number {
  background-color: #6f00ff;
  border-radius: 50%;
  width: 75px;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.description-container > button {
  align-self: flex-end;
}

.btn-primary {
  background-color: var(--accentColor);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.profile-pic {
  width: 200px;

  border-radius: 50%;
  margin-right: 20px;
}

.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}

.input-combo {
  display: flex;
  flex-direction: column;
}
.input-combo > label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
}
.gap-2 {
  gap: 20px;
}

input {
  background-color: #e9dbff;
  border: 2px solid #f2ebff;
  height: 2rem;
}
